
:root {
    --maincolor: #15803d;
    --subcolor: #cb9b19;
    --subcolor2: #feba00;
    --dark-gray: #252525;
    --white: #fff;
    --gray: #757575;
    --light-gray: #d6d6d6;
  
  
  }


.menu-veg-section{
    width:100%;
    height:auto;
    margin-bottom: 5%;
}
.menu-veg-container{
    width:100%;
    height:auto;
}
.menu-veg-boxes{
    width:100%;
    height:100%;
    display: flex !important;
    justify-content: space-evenly;
}
.menu-veg-para{
    width:47%;
    height:auto;
    justify-content: center;
    align-items: center;
    padding:0 3% ;
    
}

.menu-veg-para h3:nth-child(2){
    margin-bottom: 5%;
    font-size: 30px;
}
.menu-page-images{
    width:47%;
    height:auto;
}
.menu-page-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-veg-container h2{
    text-align: center;
}
.menu-veg-container p{
    text-align: center;
}
.vegetarian{
     font-family: "Great Vibes", cursive; 
     font-size:40px;
     color:var(--subcolor2);
}

.menu-container{
    padding-left: 6%;
    margin-bottom: 2%;
}


.menu-container p{
    margin-bottom: 0;
    font-weight: 700;
    color: var(--maincolor);
}
@media screen and (max-width:768px) {
    .menu-veg-section{
        width:100%;
        height:auto;
        margin-bottom: 5%;
    }
    .menu-veg-container{
        width:100%;
        height:auto;
    }
    .menu-veg-boxes{
        width:100%;
        height:100%;
        /* display: flex !important; */
        flex-direction: column;
        justify-content: space-evenly;
    }
    .menu-veg-section:nth-child(even) .menu-veg-boxes{
        width:100%;
        height:100%;
        /* display: flex !important; */
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    .menu-veg-para{
        width:100%;
        height:auto;
        justify-content: center;
        align-items: center;
        padding:0 3% ;
        
    }
    
    .menu-veg-para h3:nth-child(2){
        margin-bottom: 5%;
        font-size: 30px;
    }
    .menu-page-images{
        width:100%;
        height:auto;
    }
    .menu-page-images img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .menu-veg-container h2{
        text-align: center;
    }
    .menu-veg-container p{
        text-align: center;
    }
    .vegetarian{
         font-family: "Great Vibes", cursive; 
         font-size:40px;
         color:var(--subcolor2);
    }
    
    .menu-container{
        padding-left: 6%;
        margin-bottom: 2%;
    }
    
    
    .menu-container p{
        margin-bottom: 0;
        font-weight: 700;
        color: var(--maincolor);
    }
}
@media screen and (min-width:321px) and (max-width:425px) {
}
@media screen and (min-width:426px) and (max-width:600px) {
}
@media screen and (min-width:601px) and (max-width:768px) {
}
@media screen and (min-width:769px) and (max-width:900px) {
}
@media screen and (min-width:901px) and (max-width:991px) {
}
@media screen and (min-width:992px) and (max-width:1024px) {
}
@media screen and (min-width:1025px) and (max-width:1140px) {
   
}